body {
  background: #FFF0F3; 
  margin: 0;
  font-family: "Poppins", Arial, sans-serif;
}

h1 {
  color: #FFFFFF;
  text-align: center;
  background: #E56B6F; 
  margin: 0;
  padding: 25px;
  font-weight: 600;
  font-size: 32px;
  text-transform: uppercase;
  letter-spacing: 1px;
}

#colorDisplay {
  font-size: 42px;
  display: block;
  margin-top: 10px;
}

#stripe {
  background: #FFFFFF; 
  min-height: 55px;
  text-align: center;
  padding: 10px 5px;
  color: #555;
 
}

button {
  border: none;
  background: #FFFFFF;
  color: #E56B6F; 
  font-size: 16px;
  cursor: pointer;
  padding: 8px 15px;
  margin: 5px;
  border-radius: 20px; 
  transition: all 0.3s;
  border: 2px solid #E56B6F; 
  font-weight: 600;
}

button:hover {
  background: #E56B6F; 
  color: #FFF;
}

.selected {
  background: #E56B6F; 
  color: white;
}

#container {
  margin: 20px auto;
  max-width: 600px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.square {
  width: 30%;
  padding-bottom: 30%;
  margin: 1.66%;
  background: #CDB4DB; 
  transition: background 0.6s, opacity 0.3s;
  border-radius: 15px;
  box-shadow: 0 4px 10px rgba(255, 175, 204, 0.4); 
}


@media (max-width: 600px) {
  #container {
    max-width: 90%;
  }

  .square {
    width: 45%;
    padding-bottom: 45%;
  }

  h1 {
    font-size: 24px;
    padding: 20px;
  }

  #colorDisplay {
    font-size: 28px;
  }
}

#footer {
  text-align: center;
  padding: 20px;
  margin-top: 30px;
  background-color: #FFE5D9; 
  color: #5A5A5A;           
  font-size: 14px;
}

#footer strong {
  color: #232323; 
}

#footer p {
  margin: 5px 0; 
}